html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body{
    background-color:#F2F2F3;
    font-family: Cambria}
body a{}
header{
border: 2px solid black;
height: 10%;
width: 100%;
//position:absolute;
background-color: #92DCE0;
padding-top:15px;
padding-left:15px;
padding-bottom:60px;
//overflow-x:scroll;
//overflow-y:hidden;
   }
   header h1{
       font-size:30px;
       font-weight:bold;
   }
   header ul{
       font-size:18px;
       float:right;
       
   }
   header ul li{
       display:inline;
       padding-right: 40px;
   }
footer{
 border: 2px solid black;
 height: 2%;
 width: 100%;
 position:absolute;
 bottom:0%;
 background-color: #EE4B3E;
 text-align:center;
 padding:20px;



}
#logingin tr td{
    padding: 10px;
    }
#otturabhai{
        text-align:right;
    }
    #kottadi-chesko{
       margin-bottom:300px;
       margin-left: 200px;
       margin-top: 20px;
    }
section{
    font-size:18px;
    width:35%;
    margin-top:120px;
    margin-left: 100px;
}

#signup tr td{
    padding: 12px;
}
#cheseyrabahi{
    text-align: right;
    
}
#About-hum{
    border:1px solid black;
    padding:20px;
    margin-top:150px;
    margin-left:200px;
    width: 40%;
    height: 65%;
    font-size: 18px;
}
#workinghowIsay{
    border:1px solid black;
    padding:20px;
    margin-top:150px;
    margin-left:200px;
    width: 40%;
    height: 65%;
    font-size: 18px;
}
 #sollu input{
    padding:30px 80px;
 #submission{
        text-align:right;
    }   
}


#contact-button{
    padding: 1px;
    background-color: bisque;
    width: 4%;
    margin-top: 10px;
    margin-bottom: 10px;   
}
#contact-back-button{
    margin-top: 15px;
}
#message-confirmation{
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
}
nav{
    margin-top: 10px;
  
}
#navigation{
    //display: inline-block;
    float: left;
    width: 14%;
}
#navigation ul li {
   border:1px solid black;
   //width: 10%;
   background-color:yellowgreen;
   font-weight: bold;
   padding:15px;
 
}

.nav-aboutus{
       //display: inline-block; 
    width: 40%;
    padding:20px;
    border: 2px solid black;
    margin-left: 25%;
    margin-top: 10%;
    
    
   }
   
#reference-message{
   font-style: italic;
   margin-top: 100px;
   margin-left: 80px;
       
}

#recommend-button{
    padding: 1px;
    background-color: bisque;
    width: 12%;
    margin-top: 10px;
    margin-bottom: 10px;
}

